* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(224, 221, 218);
}

.main-container {
  background-color: aqua;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}